@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Inter-Regular/Inter-Regular.woff2") format("woff2"),
         url("./fonts/Inter-Regular/Inter-Regular.woff") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/Inter-Medium/Inter-Medium.woff2") format("woff2"),
         url("./fonts/Inter-Medium/Inter-Medium.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #121212;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    
}

.header {
    background-color: #e0e6ff;
    padding: 20px 40px;
}

.header__items {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.humburger {
    background: transparent;
    border: none;
    display: none;
    padding: 11px 8px 10px;
}

.humburger__item {
    background-color: #121212;
    display: block;
    height: 3px;
    width: 28px;
}

.humburger__item:not(:last-child) {
    margin-bottom: 7px;
}

.navigation {
    display: flex;
    order: 0;
}

.navigation__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation__item {
    padding: 10px 25px;    
}

.navigation__link {
    text-decoration: none;
    cursor: pointer;  
    color: #121212; 
    text-transform: uppercase; 
}

.social__items {
    display: flex;
    justify-content: space-between;
    list-style: none;       
}

.social__link {
    text-decoration: none;
    cursor: pointer;
}

.social__icon {
    width: 40px;
    height: 40px;
}

.profile {
    background: linear-gradient(#e0e6ff 80%, #fff 20%);;
    padding: 0 40px;
}

.profile__content {
    max-width: 1280px;
    margin: auto;
    display: flex;
}

.profile__info {
    padding: 130px 0;
    width: 50%;
}

.profile__overtitle {
    font-size: 17px;
    margin-bottom: 7px;
}

.profile__title {
    margin: 0;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 25px;
}

.profile__description {
    font-size: 21px;
    line-height: 1.62;
}

.profile__photo {
    width: 50%;
    position: relative;
}

.profile__image {
    width: 100%;
}

.about-me {
    padding: 100px 40px 80px;
    max-width: 1280px;
    margin: auto;
    text-align: center;
}

.about-me__title {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 25px;
}

.about-me__description {
    font-size: 18px;
    line-height: 2;
}

.about-me__items {
    padding-top: 50px;
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: space-between;
    
}

.about-me__item {
    width: 300px;
    margin-bottom: 40px;
}

.about-me__item-icon {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
}

.about-me__item-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
}


@media screen and (max-width: 1046px) {
    .navigation {
        order: 1;
    }

    .navigation__items {
        display: none;
    }

    .humburger {
        display: block;
    }

    .profile__info {
        padding: 40px 0;
    }

    .profile__content { 
        flex-direction: column;
        align-items: center;
    }

    .profile__info {
        width: 60%;
    }

    .profile__photo {
        width:60%;
    }

    .about-me__title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .about-me__description {
        font-size: 16px;
        line-height: 1.5;
    }

    .about-me__item-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) { 
    .profile__info {
        width: 70%;
    }

    .profile__photo {
        width: 70%;
    }

    .about-me__items {
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 610px) { 
    .profile__overtitle {
        font-size: 16px;
    }
    .profile__title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .profile__description {
        font-size: 16px;
    }
}
